.Form{
    display: inline-block;
    background-color: #F2F2F2;
    width: 35%;
    margin: 0;
    padding: 1%;
    border-radius: 5px;
}
.Form input{
    display: block;
    width: 93%;
    padding: 2%;
    border-style: solid;
    border-radius: 5px;
    margin-left: 1%;
}
.Form select{
    background-color: #F8F8F8;
    display: block;
    width: 98%;
    padding: 0.125%;
    border-style: solid;
    border-radius: 5px;
    margin-left: 1%;
}
.Form #stext { 
    display: block;
    width: 93%;
    padding: 2%;
    padding-bottom: 20%;
    border-style: solid;
    border-radius: 5px;
}
.Form #submit{ 
    text-align: center;
    background-color: #67AC5B;
    color: white;
    display: block;
    width: 15%;
    padding: 2%;
    border-style: solid;
    border-radius: 5px;
}
.Form label{
    margin-left: 1%;
}