.VerticalMenu{
    float: left;
    width: 30%;
}
.VerticalMenu p{
    padding-left: 10% ;
}
.VerticalMenu ul li{
    display: block;
    background-color: #F1F1F1;
    list-style: none;
    line-height: 40px;
    margin: 0;
    padding: 0;
}
.VerticalMenu a:hover{
    background-color:#CCC;
    color: white;
}
.VerticalMenu ul li a {
    display: block;
    border-style: none;
    padding-right: 85%;
    padding-left: 30px;
}
.VerticalMenu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.VerticalMenu ul li:first-child a{
    background-color: #67AC5B;
    color:white;
}
/*Horizontal Menu*/
.HorizontalMenu{
    float: right;
    width: 50%;
}
.HorizontalMenu nav ul{
    display: block;
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}
.HorizontalMenu nav ul li {
    display: inline-block;
    list-style: none;
    width: 13%;
    line-height: 50px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border: 0;
}
.HorizontalMenu nav ul li a{
    display: block;
    text-align: center;
    border-style: none;
    text-decoration: none;
    color: #646464;
}
.HorizontalMenu nav ul li:last-child a{
    text-align: center;
}
.HorizontalMenu nav ul li:last-child{
    float: right;
}
.HorizontalMenu nav ul li:nth-child(3) a {
    background-color: #358EB5;
    color: white;
}
.HorizontalMenu a:hover{
    background-color: #CCC;
    color: white;
}