.Content {
    display: inline-block;
    width: 750px;
    background-color: #1F232A;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-right: 60%;
}
h1{
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
    margin-left: 50px;
}
.desc p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #949F97;
    margin-left: 50px;
    text-indent: 25px;
    margin-top: 0;
    margin-bottom: 0;
}
a{
    color: orange;
}
.calender{
    display: inline-block;
    background: orange; 
    color: white;
    text-align: center;
    margin-left: 50px;
    width: 150px;
    line-height: 0px;
}