.container{
    display: flex;
    max-width: 500px;
    max-height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}
.container div{
    background-color: #50A3E7;
    width: 150px;
    height: 150px;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
}
p{
    padding: 50px;
    color: white;
}