@media only screen and (max-width: 481px){
    .container{
        max-width: auto;
        max-height: auto;
    }
    .container div{
        width: 100px;
        height: 100px;
    }
    p{
        padding: 25px;
    }
}