h3{
    font-family: 'Rubik', sans-serif;
    font-size: larger;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.content p{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}