h2{
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    font-size: larger;
    margin: 0;
}
hr{
    margin: 0;
    margin-bottom: 50px;
}
.row{
    margin-left: 50px;
    margin-right: 50px;
}
.col-6{
    padding-top: 10px;
    padding-bottom: 10px;
}
.col-6 a{
    text-decoration: none;
}