.container{
    background-color:#50A3E7;
    width: 350px;
    height: 350px;
}
.col-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 116.666px;
    border-style: solid;
    border-width: 0.5px;
    padding-left: 0;
    padding-right: 0;
}
.row{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
    color: white;
}
